body {
  background-color: black;
  color: black;
  font-family: Tahoma;
  background-repeat: no-repeat;
  background-size: cover;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}